<!doctype html>
<html lang="en">
<head>
	<title>GitHub API</title>
	<meta charset="utf-8">
	<script src="{{url_for('static', filename='jquery-2.1.1.min.js')}}"></script>
	<script>
		var commit = null;
		var files = {};
		var rm = {};


		function loading(b)
		{
			if (b)
				$('#loading').show();
			else
				$('#loading').hide();
		}

		function show_file(e)
		{
			e.preventDefault();

			var li = $(this)
			var path = $(this).data('path');
			var sha = $(this).data('sha');
			if (files[path])
			{
				$('textarea').hide();
				files[path]['input'].show();
				return;
			}

			loading(true);
			$.getJSON('{{url_for('blob_get', sha='')}}' + sha, function(data)
			{
				loading(false);
				var content = atob(data['content']);
				var input = $('<textarea></textarea>');
				input.data('path', path);
				input.text(content);
				input.appendTo('#file');

				$('textarea').hide();
				input.show();

				files[path] = {'input':input, 'content':content, 'li': li};
			});
		}

		function new_file(e)
		{
			e.preventDefault();

			var path = prompt('Enter new file path');
			if (path === null || path === '' || files[path])
				return;

			if (rm[path])
			{
				delete rm[path];
			}

			var li = $('<li>'+path+'</li>');
			li.data('path', path);
			li.appendTo('#filelist');
			li.click(show_file);

			var input = $('<textarea></textarea>');
			input.data('path', path);

			var input = $('<textarea></textarea>');
			input.data('path', path);
			input.appendTo('#file');

			$('textarea').hide();
			input.show();

			files[path] = {'input':input, 'content': null, 'li': li};
		}

		function delete_file(e)
		{
			e.preventDefault();

			var path = prompt('Enter file path to delete');
			if (path === null || path === '' || !files[path])
				return;

			console.log('Removing ' + path);
			files[path]['input'].remove();
			files[path]['li'].remove();

			delete files[path];

			rm[path] = true;
		}

		function makeblob(path, content)
		{
			console.log('Creating blob for file: ' + path);
			$.post('{{url_for('blob')}}', 
				JSON.stringify({'content':content}),
				function(data)
				{
					var sha = data['sha'];
					blob_created(path, sha);
				},
				'json');
		}

		function blob_created(path, sha)
		{
			console.log('Blob created for file: ' + path);
			commit.files[path] = sha;

			for (p in files)
			{
				var f = files[p];
				if (f.input.val() !== f.content && !(p in commit.files))
				{
					return;
				}
			}

			push_commit();
		}

		function start_commit(e)
		{
			e.preventDefault();

			msg = prompt('Enter a commit message');
			if (msg === null || msg === '')
			{
				commit = null
				return;
			}

			commit = {'rm':[], 'files': {},'message':msg};
			
			for (i in rm)
			{
				commit.rm.push(i);
			}

			loading(true);

			var waitforblobs = false;
			for (path in files)
			{
				var f = files[path];
				if (f.input.val() !== f.content)
				{
					makeblob(path, f.input.val());
					waitforblobs = true;
				}
			}

			if (!waitforblobs)
			{
				push_commit();
			}
		}

		function push_commit()
		{
			console.log('Pushing commit');
			console.log(commit);
			$.post('{{url_for('commit')}}', 
				JSON.stringify(commit),
				function(data)
				{
					alert('Commit complete');
					console.log(data);
					loading(false);
				},
				'json');
		}

		$(function()
		{
			$.getJSON('{{url_for('blob')}}', function(data)
			{
				loading(false);
				$.each(data, function(key, val)
				{
					var li = $('<li>'+key+'</li>');
					li.data('sha', val);
					li.data('path', key);
					li.appendTo('#filelist');

					li.click(show_file);
					li.click();
				});
			});

			$('#commit').click(start_commit);
			$('#newfile').click(new_file);
			$('#delete').click(delete_file);
		});
	</script>
	<style>
	html, body {margin: 0; height:100%;}
	#left {
		display: block;
		width: 12%;
		height: 90%;
		padding: 10px;
		float: left;
		background-color: #eeeeee;
	}

	#file {
		display: block;
		width: 84%;
		height: 90%;
		padding: 10px;
		float: right;
	}

	li {
		color: #4444AA;
		text-decoration: underline;
	}

	li:hover { cursor: pointer; }

	textarea {
		display: block;
		width: 60%;
		height: 100%;
	}

	#loading {
		color: white;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		font-size: 4em;
		font-weight: bold;

		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
	}
	</style>
</head>
<body>
	<div id="left">
		<button type="button" id="commit">Commit</button>
		<button type="button" id="delete">Delete</button>
		<button type="button" id="newfile">New file</button>
		<ul id="filelist">
		</ul>
	</div>
	<div id="file">

	</div>
	<div id="loading">
		Loading
	</div>
</body>
</html>